<robot name="hammer2.obj">
	<link name="_name">
		<visual>
			<origin xyz="0.004227345555278175 -0.012788287477729709 -0.014999999999999358" rpy="0 0 0" />
			<geometry>
				<mesh filename="hammer2.obj" scale="0.001 0.001 0.001" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="hammer2_vhacd.obj" scale="0.001 0.001 0.001" />
			</geometry>
		<origin xyz="0.004227345555278175 -0.012788287477729709 -0.014999999999999358" rpy="0 0 0" /></collision>
		<inertial>
			<mass value="0.3" />
			<inertia ixx="0.6" ixy="0.0" ixz="0.0" iyy="0.5" iyz="-0.0" izz="0.08" />
		</inertial>
	</link>
</robot>