<robot name="cuboid_target">
  <material name="custom_pink"><color rgba="1.0 0.0 0.0 1"/></material>
  <link name="cabinet_middle_plate">
    <inertial>
      <mass value="1.0" />
      <origin xyz="0 0 0.0" /> 
      <inertia  ixx="0.01" ixy="0.0"  ixz="0.0"  iyy="0.01"  iyz="0.0"  izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="cuboid.obj" scale="1.1 1.1 1"/>
      </geometry>
      <material name="custom_pink"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="cuboid.obj" scale="1.1 1.1 1"/>
      </geometry>
    </collision>
  </link>
</robot>