<robot name="Pear_01_MESH.obj">
	<link name="_name">
		<visual>
			<origin xyz="-7.783456918002276e-07 -8.796183809334137e-06 2.5872672523434816e-06" rpy="0 0 0" />
			<geometry>
				<mesh filename="Pear_01_MESH.obj" scale="0.001 0.001 0.001" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="Pear_01_MESH_vhacd.obj" scale="0.001 0.001 0.001" />
			</geometry>
		<origin xyz="-7.783456918002276e-07 -8.796183809334137e-06 2.5872672523434816e-06" rpy="0 0 0" /></collision>
		<inertial>
			<mass value="0.3" />
			<inertia ixx="0.6" ixy="0.0" ixz="0.0" iyy="0.5" iyz="-0.0" izz="0.08" />
		</inertial>
	</link>
</robot>